@tailwind base;
@tailwind components;
@tailwind utilities;

.neumorphism {
  border-radius: 24px;
  background: #8954b6;
  box-shadow: 35px 35px 76px #52326d, -35px -35px 76px #c076ff;
}

.formDivColor {
  background: #38096e96;
}

.labelColor {
  color: rgba(255, 255, 255, 0.788);
}

.backgroundColor {
  background: #8248b1;
}

.inputColor {
  color: white;
}

.selectColor {
  background: rgb(46, 6, 121);
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
}
